# Connect + Refresh Drop Creds

In [1]:
import os
# set prod DB URL BEFORE importing app
os.environ["DATABASE_URL"] = "postgresql://vibedrop_prod_db_user:bwhjarT03zsK6Q7w2yrJKo2hFQIrDQ4E@dpg-d2afnbeuk2gs73a1im5g-a.oregon-postgres.render.com/vibedrop_prod_db"

from app import app
from models import db, User
from services.scoring import snapshot_user_all_versions
from sqlalchemy import text
import pandas as pd

# sanity: confirm Flask is using PROD
with app.app_context():
    print("Flask-SQLAlchemy DB URL:", str(db.engine.url))
    print(db.session.execute(text("select current_database() as db, current_schema() as schema;")).fetchone())

def sql_df(q: str, **params) -> pd.DataFrame:
    with app.app_context():
        with db.engine.connect() as conn:
            return pd.read_sql(text(q), conn, params=params)

# snapshot ALL users (replace=True so you keep exactly 3 rows per user)
VERSIONS = (1,2,3,4)
with app.app_context():
    user_ids = [uid for (uid,) in db.session.query(User.id).all()]
    for uid in user_ids:
        snapshot_user_all_versions(uid, versions=VERSIONS, replace=True, commit=True)

# read back from the SAME Flask connection to confirm
with app.app_context():
    rows = db.session.execute(text("""
        SELECT user_id, score_version, drop_cred_score, total_likes, total_dislikes, total_possible, computed_at
        FROM drop_creds
        ORDER BY user_id, score_version, computed_at DESC
        LIMIT 100
    """)).mappings().all()
rows[:5]

Flask-SQLAlchemy DB URL: postgresql://vibedrop_prod_db_user:***@dpg-d2afnbeuk2gs73a1im5g-a.oregon-postgres.render.com/vibedrop_prod_db
('vibedrop_prod_db', 'public')

[{'user_id': 2, 'score_version': 1, 'drop_cred_score': 0.2, 'total_likes': 1, 'total_dislikes': 1, 'total_possible': 43, 'computed_at': datetime.datetime(2025, 8, 19, 1, 58, 34, 82761, tzinfo=datetime.timezone.utc)},
 {'user_id': 2, 'score_version': 2, 'drop_cred_score': 0.0, 'total_likes': 1, 'total_dislikes': 1, 'total_possible': 43, 'computed_at': datetime.datetime(2025, 8, 19, 1, 58, 34, 582887, tzinfo=datetime.timezone.utc)},
 {'user_id': 2, 'score_version': 3, 'drop_cred_score': 0.3, 'total_likes': 1, 'total_dislikes': 1, 'total_possible': 43, 'computed_at': datetime.datetime(2025, 8, 19, 1, 58, 35, 296832, tzinfo=datetime.timezone.utc)},
 {'user_id': 2, 'score_version': 4, 'drop_cred_score': 1.3, 'total_likes': 1, 'total_dislikes': 1, 'total_possible': 43, 'computed_at': datetime.datetime(2025, 8, 19, 1, 58, 35, 992489, tzinfo=datetime.timezone.utc)},
 {'user_id': 3, 'score_version': 1, 'drop_cred_score': 0.2, 'total_likes': 1, 'total_dislikes': 0, 'total_possible': 45, 'computed_at': datetime.datetime(2025, 8, 19, 1, 58, 31, 536262, tzinfo=datetime.timezone.utc)}]

In [2]:


# See what tables you’ve got:
sql_df("""
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema='public'
ORDER BY table_name
""")

           table_name
0     alembic_version
1  circle_memberships
2          drop_creds
3            feedback
4       song_feedback
5       sound_circles
6         submissions
7               users
8         vibe_scores

In [3]:
## confirm everything updated correctly ###

# exactly 3 rows per (user, version)
display(sql_df("""
SELECT user_id, score_version, COUNT(*) AS n
FROM drop_creds
GROUP BY user_id, score_version
ORDER BY user_id, score_version
"""))

# latest per version, side-by-side
display(sql_df("""
WITH ranked AS (
  SELECT dc.*, ROW_NUMBER() OVER (PARTITION BY user_id, score_version ORDER BY computed_at DESC) rn
  FROM drop_creds dc
)
SELECT
  user_id, 
  MAX(drop_cred_score) FILTER (WHERE score_version=1 AND rn=1) AS score_v1,
  MAX(drop_cred_score) FILTER (WHERE score_version=2 AND rn=1) AS score_v2,
  MAX(drop_cred_score) FILTER (WHERE score_version=3 AND rn=1) AS score_v3
FROM ranked
WHERE rn=1
GROUP BY user_id
ORDER BY user_id
"""))

    user_id  score_version  n
0         2              1  1
1         2              2  1
2         2              3  1
3         2              4  1
4         3              1  1
..      ...            ... ..
79       21              4  1
80       22              1  1
81       22              2  1
82       22              3  1
83       22              4  1

[84 rows x 3 columns]

    user_id  score_v1  score_v2  score_v3
0         2       0.2       0.0       0.3
1         3       0.2       0.2       0.2
2         4       0.3       0.3       0.4
3         5       1.3       1.0       1.2
4         6       0.4       0.4       0.4
5         7       0.0       0.0       0.1
6         8       0.0       0.0       0.0
7         9       0.0       0.0       0.1
8        10       0.9       0.9       0.8
9        11       0.0       0.0       0.0
10       12       0.0       0.0       0.2
11       13       5.0       5.0       1.8
12       14       0.7       0.7       0.6
13       15       0.7       0.7       0.6
14       16       2.9       2.9       1.9
15       17       0.7       0.7       0.6
16       18       0.9       0.9       0.8
17       19       0.0       0.0       0.2
18       20       0.0       0.0       0.0
19       21       0.0       0.0       0.0
20       22       0.0       0.0       0.0

In [4]:
### ad-hoc queries ###
# latest per version, side-by-side
display(sql_df("""
WITH latest_per_version AS (
  SELECT DISTINCT ON (user_id, score_version)
         user_id, score_version, drop_cred_score, total_likes, total_dislikes, total_possible, computed_at
  FROM drop_creds
  ORDER BY user_id, score_version, computed_at DESC
),
latest_totals AS (
  SELECT DISTINCT ON (user_id)
         user_id, total_likes, total_dislikes, total_possible, computed_at
  FROM latest_per_version
  ORDER BY user_id, computed_at DESC
)
SELECT
  t.user_id,
  t.total_likes,
  t.total_dislikes,
  t.total_possible,
  MAX(CASE WHEN v.score_version = 1 THEN v.drop_cred_score END) AS score_v1,
  MAX(CASE WHEN v.score_version = 2 THEN v.drop_cred_score END) AS score_v2,
  MAX(CASE WHEN v.score_version = 3 THEN v.drop_cred_score END) AS score_v3,
  MAX(CASE WHEN v.score_version = 4 THEN v.drop_cred_score END) AS score_v4
FROM latest_totals t
JOIN latest_per_version v USING (user_id)
GROUP BY t.user_id, t.total_likes, t.total_dislikes, t.total_possible
ORDER BY t.user_id;
"""))

,user_id,total_likes,total_dislikes,total_possible,score_v1,score_v2,score_v3,score_v4
0,2,1,1,43,0.2,0.0,0.3,1.3
1,3,1,0,45,0.2,0.2,0.2,0.9
2,4,1,0,30,0.3,0.3,0.4,0.9
3,5,4,1,30,1.3,1.0,1.2,1.8
4,6,2,0,45,0.4,0.4,0.4,1.1
5,7,0,0,30,0.0,0.0,0.1,0.6
6,8,0,1,45,0.0,0.0,0.0,0.7
7,9,0,2,15,0.0,0.0,0.1,0.5
8,10,2,0,22,0.9,0.9,0.8,1.4
9,11,0,0,0,0.0,0.0,0.0,0.0
10,12,0,2,7,0.0,0.0,0.2,0.5
11,13,1,0,2,5.0,5.0,1.8,2.1
12,14,1,0,15,0.7,0.7,0.6,1.0
13,15,1,0,15,0.7,0.7,0.6,1.0
14,16,2,0,7,2.9,2.9,1.9,2.2
15,17,1,0,15,0.7,0.7,0.6,1.0
16,18,2,0,22,0.9,0.9,0.8,1.4
17,19,0,0,7,0.0,0.0,0.2,0.5
18,20,0,0,0,0.0,0.0,0.0,0.0
19,21,0,0,0,0.0,0.0,0.0,0.0
20,22,0,0,0,0.0,0.0,0.0,0.0

# **View all Tables**

In [ ]:
print("\n\n\n\n=====drop_creds TABLE=====")
display(sql_df("""
SELECT * FROM drop_creds
"""))
# print("\n\n\n\n=====users TABLE=====")
# display(sql_df("""
# SELECT * FROM "users"
# """))
print("\n\n\n\n=====song_feedback TABLE=====")
display(sql_df("""
SELECT * FROM song_feedback
WHERE user_id=2
"""))

# **Feedback Queries**