# Connect + List Table Names

In [1]:
import sys, os

from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import pandas as pd

print("Python exe:", sys.executable)
print("CWD:", os.getcwd())

Python exe: /Users/nickhellmer/vibedrop/venv/bin/python
CWD: /Users/nickhellmer/vibedrop

In [2]:
load_dotenv()  # reads DATABASE_URL if you set it; falls back to local
DB_URL = os.getenv("DATABASE_URL", "postgresql://localhost/vibedrop_dev")
engine = create_engine(DB_URL, future=True)

def sql_df(q: str, **params) -> pd.DataFrame:
    with engine.begin() as conn:
        return pd.read_sql(text(q), conn, params=params)

# See what tables you’ve got:
sql_df("""
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema='public'
ORDER BY table_name
""")

           table_name
0     alembic_version
1  circle_memberships
2          drop_creds
3            feedback
4       song_feedback
5       sound_circles
6         submissions
7               users
8         vibe_scores

In [3]:
# ### Refresh drop_cred table for all users based on latest data ###
# from app import app
# from models import db, User
# from services.scoring import snapshot_user_all_versions

# VERSIONS = (1, 2, 3)

# with app.app_context():
#     user_ids = [uid for (uid,) in db.session.query(User.id).all()]
#     total_rows = 0
#     for uid in user_ids:
#         rows = snapshot_user_all_versions(uid, versions=VERSIONS, replace=True, commit=False)
#         total_rows += len(rows)
#     db.session.commit()

# print(f"Refreshed {len(user_ids)} users × {len(VERSIONS)} versions = {total_rows} rows")

# # verify only 3 rows per user 
# sql_df("""
#   SELECT user_id, score_version, COUNT(*) AS n
#   FROM drop_creds
#   GROUP BY user_id, score_version
#   ORDER BY user_id, score_version
# """)

# # verify latest pivot data
# sql_df("""WITH ranked AS (
#   SELECT dc.*, ROW_NUMBER() OVER (PARTITION BY user_id, score_version ORDER BY computed_at DESC) rn
#   FROM drop_creds dc
# )
# SELECT user_id,
#        MAX(drop_cred_score) FILTER (WHERE score_version=1 AND rn=1) AS score_v1,
#        MAX(drop_cred_score) FILTER (WHERE score_version=2 AND rn=1) AS score_v2,
#        MAX(drop_cred_score) FILTER (WHERE score_version=3 AND rn=1) AS score_v3
# FROM ranked
# WHERE rn=1
# GROUP BY user_id
# ORDER BY user_id;""")

Refreshed 21 users × 3 versions = 63 rows

    user_id  score_v1  score_v2  score_v3
0         2       4.2       4.3       4.0
1         3       4.2       4.7       4.0
2         4       4.4       4.9       4.4
3         5       6.3       5.9       8.4
4         6       4.6       5.0       4.9
5         7       3.7       4.3       3.6
6         8       3.7       3.9       3.1
7         9       3.7       2.3       3.6
8        10       5.4       5.7       6.6
9        11       3.7       4.3       2.7
10       12       3.7       0.4       4.0
11       13      10.0      10.0       8.4
12       14       5.1       5.4       5.7
13       15       6.3       6.3       7.5
14       16       8.6       8.2       9.2
15       17       5.1       5.4       5.7
16       18       5.4       5.7       6.6
17       19       3.7       4.3       4.0
18       20       3.7       4.3       2.7
19       21       3.7       4.3       2.7
20       22       3.7       4.3       2.7

# **View all Tables**

In [5]:
# print("\n\n\n\n=====drop_creds TABLE=====")
# display(sql_df("""
# SELECT * FROM drop_creds
# """))

# print("\n\n\n\n=====users TABLE=====")
# display(sql_df("""
# SELECT * FROM "users"
# """))

print("\n\n\n\n=====circle_memberships TABLE=====")
display(sql_df("""
SELECT * FROM circle_memberships
"""))

# print("\n\n\n\n=====submissions TABLE=====")
# display(sql_df("""
# SELECT * FROM submissions
# """))

# print("\n\n\n\n=====vibe_scores TABLE=====")
# display(sql_df("""
# SELECT * FROM vibe_scores
# """))

# print("\n\n\n\n=====song_feedback TABLE=====")
# display(sql_df("""
# SELECT * FROM song_feedback
# """))

print("\n\n\n\n=====sound_circles TABLE=====")
display(sql_df("""
SELECT * FROM "sound_circles"
"""))

# print("\n\n\n\n=====alembic_version TABLE=====")
# display(sql_df("""
# SELECT * FROM alembic_version
# """))

# print("\n\n\n\n=====alembic_version TABLE=====")
# display(sql_df("""
# SELECT * FROM feedback
# """))

=====circle_memberships TABLE=====

    id  user_id  circle_id                  joined_at
0    2        3          1 2025-08-08 03:19:32.516853
1    3        4          1 2025-08-08 03:29:09.158088
2    4        5          1 2025-08-08 03:33:17.143018
3    5        6          1 2025-08-08 14:56:52.410699
4    6        7          1 2025-08-08 14:59:04.205912
5    7        8          1 2025-08-08 15:18:45.865796
6    8        9          1 2025-08-09 15:51:45.756250
7   10        2          2 2025-08-12 19:26:58.746189
8   11       10          2 2025-08-12 19:38:36.444158
9   12       12          2 2025-08-12 21:57:17.918758
10  13        2          3 2025-08-12 23:02:14.837912
11  15        2          5 2025-08-13 03:12:06.076580
12  16       13          5 2025-08-13 03:20:49.653947
13  17       14          1 2025-08-13 13:07:56.044041
14  18       15          1 2025-08-13 18:42:45.297307
15  19       16          2 2025-08-15 03:33:37.054467
16  22       18          2 2025-08-15 20:45:13.294420
17  23       19          2 2025-08-15 22:31:31.849131
18  25       21          1 2025-08-16 19:24:18.742634
19  26       22          2 2025-08-18 21:35:25.132490
20  27        2          6 2025-08-20 17:16:12.098561

=====sound_circles TABLE=====

,id,circle_name,drop_frequency,drop_day1,drop_day2,drop_time,invite_code,creator_id,created_at
0,2,Mad Lads of the Midwest,Weekly,Friday,Monday,2025-08-12 21:00:00+00:00,mcF3dFFZ,2,2025-08-12 19:26:58.735556
1,3,SOLO TEST - Daily 8pm est,Daily,Monday,Monday,2025-08-13 00:00:00+00:00,dik72Zwr,2,2025-08-12 23:02:14.832293
2,4,SOLO TEST - Daily 10pm est,Daily,Monday,Monday,2025-08-14 02:00:00+00:00,6bglm4Zs,2,2025-08-13 01:43:18.705345
3,5,Sophia's Circle - Wednesdays 1PM EST,Weekly,Wednesday,Monday,2025-08-13 17:00:00+00:00,mCIz0W94,2,2025-08-13 03:12:06.063166
4,1,JOIN THIS CIRCLE (Weekly 5pm EST),Weekly,Friday,Monday,2025-08-20 21:00:00+00:00,KcieU5EX,2,2025-08-08 03:18:30.262062
5,6,biweekly test 2,Biweekly,Monday,Thursday,2025-08-20 05:00:00+00:00,EXqTTDqp,2,2025-08-20 17:16:12.087102

# **Feedback Queries**

### *Feedback for a circle by ID*

In [ ]:
circle_id = 7 # change me

df = sql_df("""
SELECT
  f.id,
  f.user_id,
  f.feedback,
  f.timestamp,
  s.id,
  s.spotify_track_id,
  s.user_id      AS submitter_id,
  s.circle_id
FROM song_feedback f
JOIN submission s ON f.song_id = s.id
WHERE s.circle_id = :cid
ORDER BY f.timestamp DESC
""", cid=circle_id)
df

In [ ]:
df2 = sql_df("""
SELECT
  f.id           AS feedback_id,
  f.feedback     AS feedback_value,
  f.timestamp    AS feedback_at,
  rater.vibedrop_username   AS rater_username,
  submitter.vibedrop_username AS submitter_username,
  s.spotify_track_id,
  s.circle_id
FROM song_feedback f
JOIN submission s         ON f.song_id = s.id
JOIN "user" rater         ON rater.id = f.user_id
JOIN "user" submitter     ON submitter.id = s.user_id
WHERE s.circle_id = :cid
ORDER BY f.timestamp DESC
""", cid=circle_id)
df2

# New Section

# New Section

# New Section

# New Section

# New Section