# Connect + List Table Names

In [6]:
import sys, os

from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import pandas as pd

# print("Python exe:", sys.executable)
# print("CWD:", os.getcwd())
# load_dotenv()  # reads DATABASE_URL if you set it; falls back to local

# using postgressql external database url on render (not the website external url, the db external url)
DB_URL = os.getenv("DATABASE_URL", "postgresql://vibedrop_prod_db_user:bwhjarT03zsK6Q7w2yrJKo2hFQIrDQ4E@dpg-d2afnbeuk2gs73a1im5g-a.oregon-postgres.render.com/vibedrop_prod_db")
engine = create_engine(DB_URL, future=True)

# Query for your user
email = 'nhellmer25@gmail.com'
query = f"SELECT email, phone_number, sms_notifications FROM users WHERE email = '{email}'"

df = pd.read_sql(query, engine)
print(df)

                  email phone_number  sms_notifications
0  nhellmer25@gmail.com  12174174120               True

In [7]:
def sql_df(q: str, **params) -> pd.DataFrame:
    with engine.begin() as conn:
        return pd.read_sql(text(q), conn, params=params)

# See what tables you’ve got:
sql_df("""
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema='public'
ORDER BY table_name
""")

           table_name
0     alembic_version
1  circle_memberships
2          drop_creds
3            feedback
4       song_feedback
5       sound_circles
6         submissions
7               users
8         vibe_scores

In [8]:
# from app import app
# from models import db

# with app.app_context():
#     print("Flask-SQLAlchemy DB URL:", str(db.engine.url))
#     curdb = db.session.execute(db.text("select current_database() as db, current_schema() as schema")).mappings().one()
#     print("DB:", curdb["db"], "schema:", curdb["schema"])







# from app import app
# from models import db, DropCred
# from services.scoring import compute_drop_cred, snapshot_user_all_versions

# TEST_USER_ID = 12  # change to a real user in prod

# with app.app_context():
#     # A) Compute one version in-memory, just to see data
#     print("Compute v1:", compute_drop_cred(TEST_USER_ID, score_version=1))

#     # B) Replace rows for v1–v3 and COMMIT immediately
#     rows = snapshot_user_all_versions(TEST_USER_ID, versions=(1,2,3), replace=True, commit=True)
#     print("Inserted rows:", len(rows))

#     # C) Read back from the SAME session/DB
#     out = db.session.execute(
#         db.text("""
#             SELECT user_id, score_version, drop_cred_score, total_likes, total_dislikes, total_possible, computed_at
#             FROM drop_creds
#             WHERE user_id = :uid
#             ORDER BY score_version
#         """),
#         {"uid": TEST_USER_ID}
#     ).mappings().all()
#     print("DB rows now:", out)







# from app import app
# from models import db, User
# from services.scoring import snapshot_user_all_versions

# VERSIONS = (1,2,3)

# with app.app_context():
#     user_ids = [uid for (uid,) in db.session.query(User.id).all()]
#     total_rows = 0
#     for uid in user_ids:
#         rows = snapshot_user_all_versions(uid, versions=VERSIONS, replace=True, commit=True)
#         total_rows += len(rows)

# print(f"Refreshed {len(user_ids)} users × {len(VERSIONS)} versions = {total_rows} rows")








from app import app
from models import db

with app.app_context():
    tables = db.session.execute(db.text("""
      SELECT table_name FROM information_schema.tables
      WHERE table_schema='public' ORDER BY table_name
    """)).mappings().all()
    print([t["table_name"] for t in tables if "drop_cred" in t["table_name"] or "drop" in t["table_name"]])

    # Also check Alembic head
    alembic = db.session.execute(db.text("SELECT version_num FROM alembic_version")).scalar()
    print("Alembic version:", alembic)

['drop_creds']
Alembic version: 1e1d53b72db7

In [9]:
### Refresh drop_cred table for all users based on latest data ###
from app import app
from models import db, User
from services.scoring import snapshot_user_all_versions

VERSIONS = (1, 2, 3, 4)

with app.app_context():
    user_ids = [uid for (uid,) in db.session.query(User.id).all()]
    total_rows = 0
    for uid in user_ids:
        snapshot_user_all_versions(uid, versions=VERSIONS, replace=True, commit=False)
        total_rows += len(VERSIONS)
    db.session.commit()

print(f"Refreshed {len(user_ids)} users × {len(VERSIONS)} versions = {total_rows} rows")

# verify only 3 rows per user 
sql_df("""
  SELECT user_id, score_version, COUNT(*) AS n
  FROM drop_creds
  GROUP BY user_id, score_version
  ORDER BY user_id, score_version
""")

# verify latest pivot data
sql_df("""WITH ranked AS (
  SELECT dc.*, ROW_NUMBER() OVER (PARTITION BY user_id, score_version ORDER BY computed_at DESC) rn
  FROM drop_creds dc
)
SELECT user_id,
       MAX(drop_cred_score) FILTER (WHERE score_version=1 AND rn=1) AS score_v1,
       MAX(drop_cred_score) FILTER (WHERE score_version=2 AND rn=1) AS score_v2,
       MAX(drop_cred_score) FILTER (WHERE score_version=3 AND rn=1) AS score_v3,
       MAX(drop_cred_score) FILTER (WHERE score_version=4 AND rn=1) AS score_v4
FROM ranked
WHERE rn=1
GROUP BY user_id
ORDER BY user_id;""")

Refreshed 21 users × 4 versions = 84 rows

    user_id  score_v1  score_v2  score_v3  score_v4
0         2       4.1       4.3       4.1       4.9
1         3       4.1       4.6       4.1       4.6
2         4       4.4       4.9       4.8       4.9
3         5       6.9       6.2       8.7       8.7
4         6       4.7       5.2       5.2       5.3
5         7       3.6       4.3       3.3       3.4
6         8       3.6       3.9       3.3       3.4
7         9       3.6       1.7       4.1       3.8
8        10       5.6       5.8       6.4       6.5
9        11       3.6       4.3       2.5       2.3
10       12       3.6       0.5       4.1       4.2
11       13      10.0      10.0       7.9       8.0
12       14       5.2       5.6       6.0       5.7
13       15       6.9       6.8       7.9       7.6
14       16       8.3       8.0       8.7       8.3
15       17       5.2       5.6       6.0       5.7
16       18       5.6       5.8       6.4       6.5
17       19       3.6       4.3       4.1       4.2
18       20       3.6       4.3       2.5       2.3
19       21       3.6       4.3       2.5       2.3
20       22       3.6       4.3       2.5       2.3

In [41]:
# ### update a single user's email ###

# from sqlalchemy import text

# target_username = "trent_wheeler"
# new_email = "16wheeler20@gmail.com".strip().lower()

# with engine.begin() as conn:  # BEGIN ... COMMIT (auto)
#     res = conn.execute(
#         text("""
#             UPDATE users
#             SET email = :new_email
#             WHERE vibedrop_username = :uname
#               AND (email IS NULL OR email = '')
#         """),
#         {"new_email": new_email, "uname": target_username},
#     )
#     print("Rows updated:", res.rowcount)

Rows updated: 1

In [49]:
### update a single user's sms_notifications ###

from sqlalchemy import text

target_username = "IdleChipmunk"

with engine.begin() as conn:  # BEGIN ... COMMIT (auto)
    res = conn.execute(
        text("""
            UPDATE users
            SET sms_notifications = TRUE
            WHERE vibedrop_username = :uname
        """),
        {"uname": target_username},
    )
    print("Rows updated:", res.rowcount)

# verify
display(sql_df("""
SELECT id, vibedrop_username, phone_number, sms_notifications
FROM users
WHERE vibedrop_username = :u
""", u=target_username))

Rows updated: 1

   id vibedrop_username phone_number  sms_notifications
0  17      IdleChipmunk         None               True

# **View all Tables**

In [60]:
print("\n\n\n\n=====drop_creds TABLE=====")
display(sql_df("""
SELECT * FROM drop_creds
"""))
print("\n\n\n\n=====users TABLE=====")
display(sql_df("""
SELECT * FROM "users"
"""))
# print("\n\n\n\n=====circle_memberships TABLE=====")
# display(sql_df("""
# SELECT * FROM circle_memberships
# """))
# print("\n\n\n\n=====submissions TABLE=====")
# display(sql_df("""
# SELECT * FROM submissions
# """))
# print("\n\n\n\n=====vibe_scores TABLE=====")
# display(sql_df("""
# SELECT * FROM vibe_scores
# """))
# print("\n\n\n\n=====song_feedback TABLE=====")
# display(sql_df("""
# SELECT * FROM song_feedback
# """))
# print("\n\n\n\n=====sound_circles TABLE=====")
# display(sql_df("""
# SELECT * FROM "sound_circles"
# """))
# print("\n\n\n\n=====alembic_version TABLE=====")
# display(sql_df("""
# SELECT * FROM alembic_version
# """))
# print("\n\n\n\n=====alembic_version TABLE=====")
# display(sql_df("""
# SELECT * FROM feedback
# """))

=====drop_creds TABLE=====

,id,user_id,total_likes,total_dislikes,total_possible,drop_cred_score,computed_at,score_version,params,window_label,window_start,window_end
0,697,8,0,1,45,3.4,2025-08-21 00:42:09.866126+00:00,4,"{'mu': 0.0506, 'Smax': 10, 'beta': 0.05, 'alph...",lifetime,None,None
1,701,4,1,0,30,4.7,2025-08-21 00:42:09.872160+00:00,4,"{'mu': 0.0506, 'Smax': 10, 'beta': 0.05, 'alph...",lifetime,None,None
2,705,14,1,0,15,5.6,2025-08-21 00:42:09.878081+00:00,4,"{'mu': 0.0506, 'Smax': 10, 'beta': 0.05, 'alph...",lifetime,None,None
3,709,9,0,2,15,3.8,2025-08-21 00:42:09.884000+00:00,4,"{'mu': 0.0506, 'Smax': 10, 'beta': 0.05, 'alph...",lifetime,None,None
4,713,11,0,0,0,2.5,2025-08-21 00:42:09.889131+00:00,4,"{'mu': 0.0506, 'Smax': 10, 'beta': 0.05, 'alph...",lifetime,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
79,1025,22,0,0,0,4.3,2025-09-03 01:48:24.584280+00:00,2,{'formula': '(likes - dislikes) / possible * 1...,lifetime,None,None
80,1026,22,0,0,0,2.5,2025-09-03 01:48:24.589175+00:00,3,"{'mu': 0.0719, 'alpha': 10, 'formula': '(likes...",lifetime,None,None
81,1027,2,1,1,31,4.1,2025-09-03 01:48:24.594602+00:00,1,"{'formula': 'likes / possible * 10', 'version'...",lifetime,None,None
82,1028,2,1,1,31,4.3,2025-09-03 01:48:24.603334+00:00,2,{'formula': '(likes - dislikes) / possible * 1...,lifetime,None,None
83,1029,2,1,1,31,4.1,2025-09-03 01:48:24.609496+00:00,3,"{'mu': 0.0719, 'alpha': 10, 'formula': '(likes...",lifetime,None,None

=====users TABLE=====

,id,spotify_id,vibedrop_username,display_name,email,access_token,refresh_token,expires_at,drop_cred,created_at,sms_notifications,phone_number
0,8,jacksonsoccer3,Sean Jackson,None,None,BQDRxAYbQJ7nsIgXnpyXxHC_K4dpwjuCUYp31HeWGLkpPq...,AQBn6SRiBHL89SnRv1b45DUfwVKQ8xbSPzcxJbHkNlv0_6...,2025-08-16 22:35:42.237437,5.0,2025-08-08 15:18:06.357844,True,None
1,4,jpbollman-7,Long Dong Silver,None,None,BQDCs78FujfTWLxCACc-VtqP5IrS0XtLXm_cjs4Au-Mq8_...,AQBE4aIznhEM2sTZBntH1EiSnjZo6aStU4IL1ATixkx4ME...,2025-08-15 15:23:51.985875,5.0,2025-08-08 03:28:14.126097,True,None
2,14,reddevilfc98,AP123,reddevilfc98,None,BQBpw8DyJrSwrExaD5Evwo7L8OzJxAjKgHAbprkx1Uwwrn...,AQCSLlp1nDdmfiuhrIcb3A6AMCmxzWWd9xmgw5zWLOuRTK...,2025-08-13 14:06:29.326032,5.0,2025-08-13 13:06:29.552428,True,None
3,9,1284945354,spideytingz,None,None,BQB0mBgdp0a0EEPbUEctDUmmSvjgLNJ_24ohOSqIhKUfJC...,None,NaT,5.0,2025-08-09 15:44:20.643536,True,None
4,11,1295969724,,None,None,BQCwTXpUyn2z96-ovLumt5pFf4NZt4nAd3Vgmllivbpc7B...,None,NaT,5.0,2025-08-11 02:07:21.743037,True,None
5,12,dkip456,Dkip456,Daniel Kipnis,None,BQBfniM_Bc4mTbyXTUMaBO3osxdGWgkIB_M8Fw6zo4es1K...,AQBQah1qm8Nf3Omohm-XRVLmdF0U0mfl-ZM5GBq-gSiAtb...,2025-08-12 22:56:20.155719,5.0,2025-08-12 21:56:20.285730,True,None
6,13,sophiad187,Sophiahd,sophiad187,None,BQDGAVNFI2HUISVAj-X0K3YLtf2kltNzmucwxMVqxSG1q1...,AQDd_Abw-5pIiwglxtu0TU1wi-yGnW5E0g1KgG8mNHM30V...,2025-08-13 04:30:24.909976,5.0,2025-08-13 03:20:03.004804,True,None
7,7,asj3-us,Potus530,None,None,BQDOOma6nFLg1yWsSbCrEN_vHiUCiWx1iY3A1634ojEwcn...,AQCRuwEIAQ2HjRpsZEei8nj7Iw_lbDMux6eL7kteiEFiZW...,2025-08-15 15:06:19.212721,5.0,2025-08-08 14:58:47.120189,True,None
8,10,1261267687,D Rizz,None,None,BQD-K4_S6FT7Xy1APu_-HL4k6NsutGmneDoP8oWXXqv3Sf...,None,NaT,5.0,2025-08-10 22:38:34.425909,True,None
9,6,p51av8r,greatloop,None,None,BQBW39niCXzviROFj9c9_rZqUh5TCdj-NL8obn6BTYqKSK...,AQBEEPJFxQh0v5qwMVKpk5T-Tmux59BUlytISNob2ssrbg...,2025-08-14 16:27:19.508990,5.0,2025-08-08 14:56:46.554743,True,None
10,16,1164346292,choi,RC,None,BQBM2VWr6hwaWEzcdiaIV8UUaiurdpm-9F-0Ci8fv8vbni...,AQAMqb65Y529rXsr1Wzu9fCaujjRMts5RmfHHxOSaFCuGL...,2025-08-15 04:32:33.303223,5.0,2025-08-15 03:32:33.514576,True,None
11,3,trent_wheeler,trent_wheeler,None,None,BQD5lDxdWxpWY8qIre4Z2Oj_nj59hflsNhkUWca-xpDEBC...,AQAEp78VGIZQs6Jte6cJTzRgQ2vuAyxgcVrpw5EF24tWrf...,2025-08-15 17:53:29.594659,5.0,2025-08-08 03:19:25.848961,True,12173725755
12,5,zorw3yxp5oq6d0lhnn1mpshev,Cartier,None,None,BQC6ugP0I212FjKJ-m2eyn5HI-ByduwUw98bdTCXAzJK-9...,AQB6FiL3tOSTh2iHgEVxz3OdmkR0tn4QsThRlEsXdQmpKx...,2025-08-15 22:35:53.864370,5.0,2025-08-08 03:32:52.658946,True,None
13,15,22eau5go5kdqasaop4zhp5aia,sidgoesboo,Sidney Johnson,None,BQBJ6_FmlBSH9pMvDJ73y6gy6gLXU8X4ytzDsZ_8kvKzVr...,AQASfDgmDBsfDux8bWBnvI1j2fiFm6Cjr_cG4NeYfsoRZl...,2025-08-16 02:21:17.309412,5.0,2025-08-13 18:42:03.414317,True,None
14,17,pklaft24,IdleChipmunk,Phil Klafta,None,BQChqHSXvBexlBYfUwv4bnQonO8YvibSTffLwtK1ODXhrb...,AQARlktmuqkxQYsHupwo9OoVL5Xwcmk_Yhz3hwZGrAWbwM...,2025-08-15 21:29:01.257708,5.0,2025-08-15 20:29:01.386765,False,None
15,18,j1vssqzd531sdz3l71vlnb2cy,Brando.t10,Brando,None,BQDZ4q2i-LcvygC9mTFmHhWbEWLztQLPNY3YOxBDZJV19G...,AQDq1QwHbBvG6xT8mcv_IgQ58sy8MEjoFy8toewS3N50-N...,2025-08-15 21:40:46.359768,5.0,2025-08-15 20:40:46.505082,False,None
16,19,12185248398,Guglin,Guglicious,None,BQCLTkxCXFmt1EEPUK1DsMYRfW-fnwtzTZRQ5KcWO-iHun...,AQCz9lkRf2i5mFrPgOV3l7BZSK7si2b2VoiY5JN426QZOQ...,2025-08-15 23:45:35.752941,5.0,2025-08-15 22:28:32.496363,False,None
17,20,31rfh3zfrrgpyhw37xrcfnsjoqru,katrivera,Katie,None,BQACdymZQXngFRXj3EElHFedWhCNpaGxXMHc556PYJvM2g...,AQA0w7hAdmC_UgjblDj9OJOFVRngrjz5JseLF2gLBmXib8...,2025-08-16 15:39:06.067587,5.0,2025-08-16 14:39:06.200910,False,None
18,21,ut65drgrm9ndq4btmc8ul23v2,CamG117,Cam,None,BQDsSoASq0OmMbDxosGnaXTfFXeWYIrEpNgKWiDoMEUyTI...,AQChzD_TCQ4bm0tX_d_SsJhppWRphUMFGLk4B8lJ6_bJS_...,2025-08-16 20:23:29.266513,5.0,2025-08-16 19:23:29.422573,False,None
19,22,joenoonan08,ScarLitJoeHandsome,Joe Noonan,None,BQAVQ5bHIu8l_iNmies24APoVXbouejIC-6Vq-gWm_eK3G...,AQCIddRfL4cDoNm27yO6yJjPFHTUAjEj6ZoXte-k0Hhz-d...,2025-08-18 22:28:10.462587,5.0,2025-08-18 21:28:10.594352,False,None
20,2,7xw4yczo4i8q0fjnd2ytyu5fd,nickhellmer,None,nhellmer25@gmail.com,BQAsrHrHqGQTf3whLmaVd6Q2M_NkSoLIhwedX7mR9pYXX9...,AQAMwATHt8p6qTvN2r2rIlgcqbbdxXvVmvrQDBTMR43SPO...,2025-09-02 18:55:53.635971,5.0,2025-08-08 03:16:59.858104,True,12174174120

# **Feedback Queries**

### *Feedback for a circle by ID*

In [ ]:
circle_id = 7 # change me

df = sql_df("""
SELECT
  f.id,
  f.user_id,
  f.feedback,
  f.timestamp,
  s.id,
  s.spotify_track_id,
  s.user_id      AS submitter_id,
  s.circle_id
FROM song_feedback f
JOIN submission s ON f.song_id = s.id
WHERE s.circle_id = :cid
ORDER BY f.timestamp DESC
""", cid=circle_id)
df

In [ ]:
df2 = sql_df("""
SELECT
  f.id           AS feedback_id,
  f.feedback     AS feedback_value,
  f.timestamp    AS feedback_at,
  rater.vibedrop_username   AS rater_username,
  submitter.vibedrop_username AS submitter_username,
  s.spotify_track_id,
  s.circle_id
FROM song_feedback f
JOIN submission s         ON f.song_id = s.id
JOIN "user" rater         ON rater.id = f.user_id
JOIN "user" submitter     ON submitter.id = s.user_id
WHERE s.circle_id = :cid
ORDER BY f.timestamp DESC
""", cid=circle_id)
df2

# New Section

# New Section

# New Section

# New Section

# New Section