# Connect + List Table Names

In [9]:
import sys, os

from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import pandas as pd

# print("Python exe:", sys.executable)
# print("CWD:", os.getcwd())
# load_dotenv()  # reads DATABASE_URL if you set it; falls back to local

# using postgressql external database url on render (not the website external url, the db external url)
DB_URL = os.getenv("DATABASE_URL", "postgresql://vibedrop_prod_db_user:bwhjarT03zsK6Q7w2yrJKo2hFQIrDQ4E@dpg-d2afnbeuk2gs73a1im5g-a.oregon-postgres.render.com/vibedrop_prod_db")
engine = create_engine(DB_URL, future=True)

# Query for your user
email = 'nhellmer25@gmail.com'
query = f"SELECT email, phone_number, sms_notifications FROM users WHERE email = '{email}'"

df = pd.read_sql(query, engine)
print(df)

                  email phone_number  sms_notifications
0  nhellmer25@gmail.com  12174174120               True

In [6]:
def sql_df(q: str, **params) -> pd.DataFrame:
    with engine.begin() as conn:
        return pd.read_sql(text(q), conn, params=params)

# See what tables youâ€™ve got:
sql_df("""
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema='public'
ORDER BY table_name
""")

           table_name
0     alembic_version
1  circle_memberships
2          drop_creds
3       song_feedback
4       sound_circles
5         submissions
6               users
7         vibe_scores

# **View all Tables**

In [11]:
print("\n\n\n\n=====drop_creds TABLE=====")
display(sql_df("""
SELECT * FROM drop_creds
"""))
print("\n\n\n\n=====users TABLE=====")
display(sql_df("""
SELECT * FROM "users"
"""))
print("\n\n\n\n=====circle_memberships TABLE=====")
display(sql_df("""
SELECT * FROM circle_memberships
"""))
print("\n\n\n\n=====submissions TABLE=====")
display(sql_df("""
SELECT * FROM submissions
"""))
print("\n\n\n\n=====vibe_scores TABLE=====")
display(sql_df("""
SELECT * FROM vibe_scores
"""))
print("\n\n\n\n=====song_feedback TABLE=====")
display(sql_df("""
SELECT * FROM song_feedback
"""))

=====drop_creds TABLE=====

Empty DataFrame
Columns: [id, user_id, total_likes, total_dislikes, total_possible, drop_cred_score, computed_at, score_version, params, window_label, window_start, window_end]
Index: []

=====users TABLE=====

,id,spotify_id,vibedrop_username,display_name,email,access_token,refresh_token,expires_at,drop_cred,created_at,sms_notifications,phone_number
0,8,jacksonsoccer3,Sean Jackson,None,None,BQC9nWYsBW0o91sSXj8REF5AlXbhou39R-4kpuEIPRQd3F...,None,NaT,5.0,2025-08-08 15:18:06.357844,True,None
1,4,jpbollman-7,Long Dong Silver,None,None,BQDCs78FujfTWLxCACc-VtqP5IrS0XtLXm_cjs4Au-Mq8_...,AQBE4aIznhEM2sTZBntH1EiSnjZo6aStU4IL1ATixkx4ME...,2025-08-15 15:23:51.985875,5.0,2025-08-08 03:28:14.126097,True,None
2,14,reddevilfc98,AP123,reddevilfc98,None,BQBpw8DyJrSwrExaD5Evwo7L8OzJxAjKgHAbprkx1Uwwrn...,AQCSLlp1nDdmfiuhrIcb3A6AMCmxzWWd9xmgw5zWLOuRTK...,2025-08-13 14:06:29.326032,5.0,2025-08-13 13:06:29.552428,True,None
3,9,1284945354,spideytingz,None,None,BQB0mBgdp0a0EEPbUEctDUmmSvjgLNJ_24ohOSqIhKUfJC...,None,NaT,5.0,2025-08-09 15:44:20.643536,True,None
4,11,1295969724,,None,None,BQCwTXpUyn2z96-ovLumt5pFf4NZt4nAd3Vgmllivbpc7B...,None,NaT,5.0,2025-08-11 02:07:21.743037,True,None
5,12,dkip456,Dkip456,Daniel Kipnis,None,BQBfniM_Bc4mTbyXTUMaBO3osxdGWgkIB_M8Fw6zo4es1K...,AQBQah1qm8Nf3Omohm-XRVLmdF0U0mfl-ZM5GBq-gSiAtb...,2025-08-12 22:56:20.155719,5.0,2025-08-12 21:56:20.285730,True,None
6,13,sophiad187,Sophiahd,sophiad187,None,BQDGAVNFI2HUISVAj-X0K3YLtf2kltNzmucwxMVqxSG1q1...,AQDd_Abw-5pIiwglxtu0TU1wi-yGnW5E0g1KgG8mNHM30V...,2025-08-13 04:30:24.909976,5.0,2025-08-13 03:20:03.004804,True,None
7,7,asj3-us,Potus530,None,None,BQDOOma6nFLg1yWsSbCrEN_vHiUCiWx1iY3A1634ojEwcn...,AQCRuwEIAQ2HjRpsZEei8nj7Iw_lbDMux6eL7kteiEFiZW...,2025-08-15 15:06:19.212721,5.0,2025-08-08 14:58:47.120189,True,None
8,15,22eau5go5kdqasaop4zhp5aia,sidgoesboo,Sidney Johnson,None,BQCH6BAdr8X5QsEZdn8UvKNLpia6KBrDi_XUO5Eluw5n9B...,AQCx92vQdEL43YvF7ufz202IkM2UekWKQjc0dJcC24J0OD...,2025-08-13 19:50:52.580206,5.0,2025-08-13 18:42:03.414317,True,None
9,10,1261267687,D Rizz,None,None,BQD-K4_S6FT7Xy1APu_-HL4k6NsutGmneDoP8oWXXqv3Sf...,None,NaT,5.0,2025-08-10 22:38:34.425909,True,None
10,6,p51av8r,greatloop,None,None,BQBW39niCXzviROFj9c9_rZqUh5TCdj-NL8obn6BTYqKSK...,AQBEEPJFxQh0v5qwMVKpk5T-Tmux59BUlytISNob2ssrbg...,2025-08-14 16:27:19.508990,5.0,2025-08-08 14:56:46.554743,True,None
11,16,1164346292,choi,RC,None,BQBM2VWr6hwaWEzcdiaIV8UUaiurdpm-9F-0Ci8fv8vbni...,AQAMqb65Y529rXsr1Wzu9fCaujjRMts5RmfHHxOSaFCuGL...,2025-08-15 04:32:33.303223,5.0,2025-08-15 03:32:33.514576,True,None
12,3,trent_wheeler,trent_wheeler,None,None,BQD5lDxdWxpWY8qIre4Z2Oj_nj59hflsNhkUWca-xpDEBC...,AQAEp78VGIZQs6Jte6cJTzRgQ2vuAyxgcVrpw5EF24tWrf...,2025-08-15 17:53:29.594659,5.0,2025-08-08 03:19:25.848961,True,12173725755
13,2,7xw4yczo4i8q0fjnd2ytyu5fd,nickhellmer,None,nhellmer25@gmail.com,BQAF1FTKsrJ83IGatuta60zD4kMCbcqgJ_1rZUlf5ZajVy...,AQB95bWv56WrALy4NBmUyEwaGQu43W2gFMrvRARB7bOtQj...,2025-08-15 21:21:28.060362,5.0,2025-08-08 03:16:59.858104,True,12174174120
14,5,zorw3yxp5oq6d0lhnn1mpshev,Cartier,None,None,BQC6ugP0I212FjKJ-m2eyn5HI-ByduwUw98bdTCXAzJK-9...,AQB6FiL3tOSTh2iHgEVxz3OdmkR0tn4QsThRlEsXdQmpKx...,2025-08-15 22:35:53.864370,5.0,2025-08-08 03:32:52.658946,True,None
15,17,pklaft24,IdleChipmunk,Phil Klafta,None,BQChqHSXvBexlBYfUwv4bnQonO8YvibSTffLwtK1ODXhrb...,AQARlktmuqkxQYsHupwo9OoVL5Xwcmk_Yhz3hwZGrAWbwM...,2025-08-15 21:29:01.257708,5.0,2025-08-15 20:29:01.386765,False,None
16,18,j1vssqzd531sdz3l71vlnb2cy,Brando.t10,Brando,None,BQDZ4q2i-LcvygC9mTFmHhWbEWLztQLPNY3YOxBDZJV19G...,AQDq1QwHbBvG6xT8mcv_IgQ58sy8MEjoFy8toewS3N50-N...,2025-08-15 21:40:46.359768,5.0,2025-08-15 20:40:46.505082,False,None

=====circle_memberships TABLE=====

    id  user_id  circle_id                  joined_at
0    1        2          1 2025-08-08 03:18:30.271732
1    2        3          1 2025-08-08 03:19:32.516853
2    3        4          1 2025-08-08 03:29:09.158088
3    4        5          1 2025-08-08 03:33:17.143018
4    5        6          1 2025-08-08 14:56:52.410699
5    6        7          1 2025-08-08 14:59:04.205912
6    7        8          1 2025-08-08 15:18:45.865796
7    8        9          1 2025-08-09 15:51:45.756250
8    9       10          1 2025-08-10 22:39:00.263279
9   10        2          2 2025-08-12 19:26:58.746189
10  11       10          2 2025-08-12 19:38:36.444158
11  12       12          2 2025-08-12 21:57:17.918758
12  13        2          3 2025-08-12 23:02:14.837912
13  14        2          4 2025-08-13 01:43:18.712832
14  15        2          5 2025-08-13 03:12:06.076580
15  16       13          5 2025-08-13 03:20:49.653947
16  17       14          1 2025-08-13 13:07:56.044041
17  18       15          1 2025-08-13 18:42:45.297307
18  19       16          2 2025-08-15 03:33:37.054467
19  20       17          1 2025-08-15 20:33:13.291367
20  21       18          1 2025-08-15 20:42:03.042995
21  22       18          2 2025-08-15 20:45:13.294420

=====submissions TABLE=====

,id,circle_id,user_id,spotify_track_id,cycle_date,submitted_at,visible_to_others
0,1,1,3,6kIUGrML374os1R2qC1jji,2025-08-01,2025-08-08 03:19:59.037981+00:00,False
1,2,1,6,3PczYtUqSoEXhXQlzbMDIG,2025-08-01,2025-08-08 14:57:27.827668+00:00,False
2,3,1,7,2E0bqoMlIb2xmFyZHRjtzK,2025-08-01,2025-08-08 15:00:33.209590+00:00,False
3,4,1,8,37jTPJgwCCmIGMPB45jrPV,2025-08-01,2025-08-08 15:19:42.372716+00:00,False
4,5,1,2,7H3bWxgjLiSnwStlBGgAlG,2025-08-01,2025-08-08 18:30:10.504554+00:00,False
5,6,1,4,4waPZF96vX1Oz5pzH6dB0h,2025-08-01,2025-08-08 18:45:53.621511+00:00,False
6,7,1,5,0cFlXjTxFdMGGPfLVpt3Wv,2025-08-01,2025-08-08 19:09:21.179417+00:00,False
7,8,1,8,6G1Mz5yMgn0ydOlIvTrZ65,2025-08-08,2025-08-09 13:57:42.917560+00:00,False
8,9,1,6,7itHyuODr4R7Fdz454zn3F,2025-08-08,2025-08-09 20:14:55.393894+00:00,False
9,10,1,9,7B3BwNecBhKvNwSMOOl7Gk,2025-08-08,2025-08-09 21:35:42.691192+00:00,False
10,11,1,10,3BpHUFGTW8KGd7FLEQJ4ac,2025-08-08,2025-08-11 00:39:32.460900+00:00,False
11,12,2,10,3BmjRmFTESgWZLPSVGp8aG,2025-08-09,2025-08-12 19:39:20.645487+00:00,False
12,13,2,12,3vRYtf5xgPrYeVzAmqvzTd,2025-08-09,2025-08-12 21:58:15.243980+00:00,False
13,14,3,2,7MkABWMLDrvbW7ukxGwPTE,2025-08-12,2025-08-12 23:02:29.273255+00:00,False
14,15,2,2,7f1ZaX67foF2snj6Paix0L,2025-08-09,2025-08-12 23:06:23.838389+00:00,False
15,16,4,2,7gyEo8okigsNt9Nn2ArUWR,2025-08-12,2025-08-13 01:43:36.684919+00:00,False
16,17,1,2,6iTAtdjDzH8f3D1KcASfQQ,2025-08-09,2025-08-13 02:12:21.768757+00:00,False
17,18,5,2,5AQuUEnrfiGM3dfUBTIutY,2025-08-06,2025-08-13 03:13:18.000111+00:00,False
18,19,1,14,1136gMPQlMTz2OZo32xowc,2025-08-09,2025-08-13 13:14:02.058151+00:00,False
19,20,1,4,2KaA0Tgl3RmQLzcvLEtzLH,2025-08-09,2025-08-13 13:16:41.401287+00:00,False
20,21,1,3,1LOFK4zdpDABD2mmT5wRKH,2025-08-09,2025-08-13 14:09:36.260065+00:00,False
21,22,5,13,2SsY5k7UWFqgye3PUMG3Oq,2025-08-06,2025-08-13 14:10:40.759480+00:00,False
22,23,1,15,3ld1FzyNgpZwGn4h9cOXrq,2025-08-09,2025-08-13 18:43:43.644445+00:00,False
23,24,5,2,5HQtRirC8ERASUifigbapJ,2025-08-13,2025-08-14 13:22:08.435487+00:00,False
24,25,1,6,2Asiem9O0YGuvvoAkz8aSq,2025-08-08,2025-08-14 20:37:02.507322+00:00,False
25,26,2,16,15VRO9CQwMpbqUYA7e6Hwg,2025-08-08,2025-08-15 03:34:21.101197+00:00,False
26,27,1,7,3QcZ0HiwWxwQYT2F17DCTm,2025-08-08,2025-08-15 14:06:35.942253+00:00,False
27,28,1,5,3fPW4EhpRR6BwLRPDThNeg,2025-08-08,2025-08-15 14:13:50.537058+00:00,False
28,29,1,17,3LXxHFZWt6OHdBsgucSIjJ,2025-08-08,2025-08-15 20:34:01.146784+00:00,False
29,30,1,18,3B7ww7BtZcb2MD46JiQuqt,2025-08-08,2025-08-15 20:43:33.989319+00:00,False
30,31,2,18,1UGD3lW3tDmgZfAVDh6w7r,2025-08-08,2025-08-15 20:46:04.449547+00:00,False

=====vibe_scores TABLE=====

Empty DataFrame
Columns: [id, user1_id, user2_id, vibe_index, last_updated]
Index: []

=====song_feedback TABLE=====

   id  user_id  song_id feedback                  timestamp
0   1        2        1     like 2025-08-11 21:04:24.097507
1   2        2        2     like 2025-08-11 21:04:34.766481
2   3        2        6     like 2025-08-11 21:04:57.828092
3   4        2        7     like 2025-08-11 21:05:01.919330
4   5        2        4  dislike 2025-08-12 23:02:45.899798
5   6        7        7     like 2025-08-13 13:17:09.558512
6   7       13       18     like 2025-08-13 20:12:08.031569
7   8        2       22     like 2025-08-13 20:44:09.291001
8   9       10        7  dislike 2025-08-13 22:18:25.755043
9  10        5        2     like 2025-08-15 14:12:45.647892

In [10]:
print("\n\n\n\n=====sound_circles TABLE=====")
display(sql_df("""
SELECT * FROM "sound_circles"
"""))
print("\n\n\n\n=====alembic_version TABLE=====")
display(sql_df("""
SELECT * FROM alembic_version
"""))

=====sound_circles TABLE=====

,id,circle_name,drop_frequency,drop_day1,drop_day2,drop_time,invite_code,creator_id,created_at
0,1,JOIN THIS CIRCLE (Weekly 5pm EST) - Global Cir...,Weekly,Friday,Monday,2025-08-08 21:00:00+00:00,KcieU5EX,2,2025-08-08 03:18:30.262062
1,2,Mad Lads of the Midwest,Weekly,Friday,Monday,2025-08-12 21:00:00+00:00,mcF3dFFZ,2,2025-08-12 19:26:58.735556
2,3,SOLO TEST - Daily 8pm est,Daily,Monday,Monday,2025-08-13 00:00:00+00:00,dik72Zwr,2,2025-08-12 23:02:14.832293
3,4,SOLO TEST - Daily 10pm est,Daily,Monday,Monday,2025-08-14 02:00:00+00:00,6bglm4Zs,2,2025-08-13 01:43:18.705345
4,5,Sophia's Circle - Wednesdays 1PM EST,Weekly,Wednesday,Monday,2025-08-13 17:00:00+00:00,mCIz0W94,2,2025-08-13 03:12:06.063166

=====alembic_version TABLE=====

    version_num
0  94be691cd5eb

# **Feedback Queries**

### *Feedback for a circle by ID*

In [18]:
circle_id = 7 # change me

df = sql_df("""
SELECT
  f.id,
  f.user_id,
  f.feedback,
  f.timestamp,
  s.id,
  s.spotify_track_id,
  s.user_id      AS submitter_id,
  s.circle_id
FROM song_feedback f
JOIN submission s ON f.song_id = s.id
WHERE s.circle_id = :cid
ORDER BY f.timestamp DESC
""", cid=circle_id)
df

,id,user_id,feedback,timestamp,id,spotify_track_id,submitter_id,circle_id
0,1,1,like,2025-08-11 16:43:32.678338,9,4OjV2BCKlDBmUakKOARRqt,1,7

In [17]:
df2 = sql_df("""
SELECT
  f.id           AS feedback_id,
  f.feedback     AS feedback_value,
  f.timestamp    AS feedback_at,
  rater.vibedrop_username   AS rater_username,
  submitter.vibedrop_username AS submitter_username,
  s.spotify_track_id,
  s.circle_id
FROM song_feedback f
JOIN submission s         ON f.song_id = s.id
JOIN "user" rater         ON rater.id = f.user_id
JOIN "user" submitter     ON submitter.id = s.user_id
WHERE s.circle_id = :cid
ORDER BY f.timestamp DESC
""", cid=circle_id)
df2

,feedback_id,feedback_value,feedback_at,rater_username,submitter_username,spotify_track_id,circle_id
0,1,like,2025-08-11 16:43:32.678338,nickhellmer,nickhellmer,4OjV2BCKlDBmUakKOARRqt,7

# New Section

# New Section

# New Section

# New Section

# New Section